*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider-container{
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    justify-content: center;
    height: 100%;
    
}

.Slider{  
    /* text-align: center; */
    /* border: 4px solid rgb(22, 239, 109); */
    height: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Slider #sliders{
    height:200px;
    width: 100%;
    /* border: 4px solid pink; */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    width:100%;
    height: auto;
    display: block;
}
.slick-dots {
    bottom: 10px; /* Adjust the vertical position */
    text-align: center; /* Align dots to the center */
  }
  
  .slick-dots li button:before {
    font-size: 12px; /* Change dot size */
    color: #000; /* Change dot color */
  }
  
  .slick-dots li.slick-active button:before {
    color: #f00; /* Change active dot color */
  }
   

